.toggle-wrapper {
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
    flex-direction: column;
    font-weight: bold;
    z-index: -1;
}

.toggle-text {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    z-index: -1;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 50%;
    height: 50px;
    display: flex;
}

.tabs {
    padding: 10px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    height: 50px;
    cursor: pointer;
    color: black;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    display: inline;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: 700;
}

.tab-active {
    padding: 15px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    display: inline;
    border-radius: 5px;
    vertical-align: middle;
    background: #0083A0;
    color: white;
    font-weight: 700;
}