.toggle-wrapper {
    margin-top: 120px;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
    flex-direction: column;
    font-weight: bold;
    z-index: -1;
}

.toggle-text {
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    width: 60%;
    height: 50px;
    display: flex;
}

.tabs {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    width: 55%;
    height: 50px;
    cursor: pointer;
    color: black;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    display: inline;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: 500;
}

.tab-active {
    padding: 15px;
    font-size: 12px;
    text-align: center;
    width: 55%;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    display: inline;
    border-radius: 5px;
    vertical-align: middle;
    background: #0083A0;
    color: white;
    font-weight: 500;
}

.mobile-toggle-text {
    display: none;
}

@media only screen and (max-width: 768px){
    .toggle-text {
        display: none;
    }

    .mobile-toggle-text {
        display: block;
        flex-direction: column;
    }

    .mobile-toggle-text button {
        /* flex-direction: column; */
        width: 80%;
        margin-left: 10%;
        /* margin-right: auto; */
        margin-top: 20px;
    }
}