.wrapper {
    display: flex;
    .nav-container {
        color: #fff;
        padding: 1px;
        display: flex;
        ul {
            display: flex;
            li {
                color: #fff;
                font-size: 12px;
                font-weight: 300;
                position: relative;
                .item-wrapper {
                    display: flex;
                    span {
                        margin-left: 5px;
                        text-transform: uppercase;
                    }
                }
            
            }
        
        }

    }
}