* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-464646: #464646; 
    --color-1A1A1A: #1A1A1A;
    --color-white: #fff;
    --color-0019AB8: #019AB8;
}


a {
    text-decoration: none;
    display: inline-block;
}

/* Header part */
.header-upper {
    background-color: var(--color-1A1A1A);
}

.input-group-text {
    background-color: var(--color-0019AB8);
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.icons {
    font-size: 30px;
    color: var(--color-white);
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.size {
    font-size: 12px;
}

.header-bottom {
    background-color: var(--color-464646)
}

.menu-bottom {
    align-items: center;
    justify-content: center;
}

.header-bottom .menu-links a, 
.header-bottom .dropdown button {
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
    box-shadow: none;
}
/* Header part end */