* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-464646: #464646; 
    --color-1A1A1A: #1A1A1A;
    --color-white: #fff;
    --color-0019AB8: #019AB8;
    --color-FF3E3E: #FF3E3E; 
    --color-DEDEDE: #DEDEDE; 
    --color-transparent: rgb(0, 0, 0, 0.6);
    --color-rgb-0001: rgb(0, 0, 0, 0.1);
    --color-A8C3DE: #A8C3DE;
    --color-FF6800: #FF6800;
}