@import './styles/Home.scss';

a {
    text-decoration: none;
}

.cursorPointer {
    cursor: pointer;
}

.button-1 {
    background-color: var(--color-transparent);
    color: var(--color-white);
    font-size: 14px;
    padding: 13px 23px;
    border-radius: 10px;
}

.button-2 {
    background-color: var(--color-transparent);
    color: var(--color-white);
    font-size: 8px;
    padding: 5px 12px;
    border-radius: 10px;
}

.section-heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}
