@tailwind base;
@tailwind components;
@tailwind utilities;

.display-header {
    display: block;
}

@media screen and (max-width: 767px) {
    .display-header {
        display: none;
    }

    .center-align {
        justify-content: center;
    }
}

/* 52:16 */