.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile {
        background-color: var(--color-transparent);
        width: 100%;
        height: 100%;
        position: fixed;
        margin: -120px 0px 0px 0px;
        padding: 0%;
        display: block;
        z-index: 100;
    
        .container {
            margin: 0%;
            padding: 0%;
            width: 60%;
            height: 100%;
            background-color: var(--color-white);
            
    
            .top-section {
                display: flex;
                justify-content: space-between;
                box-shadow: var(--color-transparent) 0px 3px 8px;
    
                img {
                    width: 60px;
                    height: 60px;
                    margin: 30px;
                }
    
                .close {
                    // margin: 25px -80px 0px 0px;
                    padding-top: 50px;
                    // float: right;
                    background-color: var(--color-white);
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 25px;
                    width: 40px;
                    height: 40px;
                }
            }
           
            .none {
                display: none;
            }
    
            .nav-section {
                margin-top: 10px;
                width: 100%;
    
                .links {
                    box-shadow: var(--color-transparent) 0px 3px 8px;
                    width: 100%;
                    margin-top: 8px;
                    padding: 10px;
    
                    .link {
                        padding: 2px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
    
                        a {
                            list-style: none;
                            color: black;
                            text-decoration: none;
                            gap: 20px;
                            display: flex;
    
                            .icon {
                                font-size: 20px;
                            }
    
                            p {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                    }
                }
    
                .btn-links {
                    box-shadow: var(--color-transparent) 0px 3px 8px;
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
    
                    .link {
                        padding: 5px;
    
                        a {
                            display: flex;
                            list-style: none;
                            text-decoration: none;
                            justify-content: space-between;
    
                            .icon {
                                color: var(--color-0019AB8);
                                font-size: 20px;
                            }
                        }
                    }
                }
    
                .auth-btn-links {
                    box-shadow: var(--color-transparent) 0px 3px 8px;
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
    
                    .auth {
                        a {
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            color: var(--color-1A1A1A);
                            width: 100%;
                            text-decoration: none;
    
                            .icon {
                                font-size: 20px;
                            }
    
                            p {
                                font-weight: 500;
                            }
                        }
                    }
                }
                
            }
        }
    }    
}