* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.loading {
    margin-top: 40%;
    margin-left: 50%;
}

section .register-image-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #C0C0C0, #0083A0);
    z-index: 1;
    mix-blend-mode: screen;
}

section .register-image-box {
    position: relative;
    width: 50%;
    height: 100%;
}

section .register-image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-content-box .register-form-box form  {
    display: block;
}

section .register-content-box {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .register-content-box .register-form-box {
    width: 50%;
}

section .register-content-box .register-form-box h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(66, 54, 54);
    display: inline-block;
    letter-spacing: 1px;
}

section .register-content-box .register-form-box .register-input-box {
    margin-bottom: 20px;
}

section .register-content-box .register-form-box .register-input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
}

section .register-content-box .register-form-box .register-input-box input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    background: transparent;
    border-radius: 3px;
}

section .register-content-box .register-form-box .register-input-box button {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 16px;
    color: #fff;
    background: #0083A0;
    border-radius: 3px;
    cursor: pointer;
}

section .register-content-box .register-form-box .register-input-box button:hover {
    background: #353535;
}

section .register-content-box .register-form-box .register-remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .register-content-box .register-form-box p {
    color: black;
}

section .register-content-box .register-form-box p a {
    text-decoration: none;
}

section .register-content-box .register-form-box h3 {
    color: black;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .register-content-box .register-form-box .register-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .register-content-box .register-form-box .register-social li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 7px 0 0;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .register-content-box .register-form-box form  {
        display: block;
    }
    section .register-image-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .register-content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .register-content-box .register-form-box {
        width: 100%;
        padding: 40px;
        background: rgba(255, 255, 255, 0.9);
        margin: 50px;
    }

    section .register-content-box .register-form-box h3 {
        margin: 30px 0 10px;
        font-weight: 500;
    }
}