footer {
    background: #000;
    width: 100%;

    .section_padding { 
        padding: 4rem 4rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;

        .footer-links {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            text-align: left;
            margin-bottom: 2rem;

            .link-container {
                width: 150px;
                margin: 1rem;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                color: #fff;

                h1 {
                    text-transform: uppercase;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-weight: 700;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    // text-transform: capitalize;

                    &:hover {
                        color: #8d8d8d;
                    }

                    span {
                        padding-bottom: 5px;
                    }

                    .socials {
                        display: flex;
                        gap: 10px;

                        span {
                            padding-top: 5px;
                        }

                        &:hover {
                            color: #8d8d8d;
                        }
                    }

                }
            }
        }
    }

    .foot-below {
        margin: 15px;
        height: 45px;
        color: #fff;
        display: flex;
        justify-content: space-between;

        .footer-copyright {
            p {
                font-size: 12px;
                line-height: 15px;
                margin-left: 2rem;
                color: #fff;
                font-weight: 600;
            }
        }

        .footer-below-links {
            display: flex;
            gap: 10px;

            p {
                font-size: 12px;
                line-height: 15px;
                margin-right: 2rem;
                color: #fff;
                font-weight: 600;

                &:hover {
                    color: #8d8d8d;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        .footer-container {
            .footer-links {
                .link-container {
                    h1 {
                        font-size: 16px;
                        line-height: 50px;
                    }
                }
            }
        }
        
        .foot-below {
            height: 100px;
            justify-content: space-between;

            .footer-below-links {
                display: flex;
                flex-direction: column;
            }
        }
    }
}