* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.top-nav {
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
}

.top-nav .home {
    margin: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.top-nav ul {
    float: right;
}

.top-ul button {
    background-color: #0083A0 ;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    font-weight: 600;
}

.top-ul button:hover {
    background-color: #0051ff;
}

.top-nav ul a {
    color: black;
    font-size: 20px;
}

.top-nav ul li {
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}

.top-nav ul a .icon-active {
    color: #0083A0;
    cursor: pointer;
    border-bottom: 2px solid #0083A0 ;
    padding-bottom: 4px;
}

.top-nav ul a .icon-inactive {
    color: #000;
    cursor: pointer;
}

/* .top-nav ul a:hover {
    border-bottom: 2px solid #0083A0 ;
    padding-bottom: 4px;
    transition: all .3s;
} */

.bottom-nav {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    bottom: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: none;
}

.no-user {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    bottom: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: none;
}

.no-user ul li a, 
.bottom-nav ul li a {
    color: white;
    font-size: 20px;
}

.no-user ul li,
.bottom-nav ul li {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: all .7s;
}

.no-user ul li:nth-child(1) {
    left: 20%;
    padding: 17px 18px;
}

.no-user ul li:nth-child(2) {
    left: 40%;
    padding: 17px 18px;
}

.no-user ul li:nth-child(3) {
    left: 60%;
    padding: 17px 18px;
}

.no-user ul li:nth-child(4) {
    left: 80%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(1) { 
    left: 15%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(2) {
    left: 30%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(3) {
    left: 45%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(4) {
    left: 60%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(5) {
    left: 75%;
    padding: 17px 18px;
}

.bottom-nav ul li:nth-child(6) {
    left: 90%;
    padding: 17px 18px;
}

.no-user ul li:hover,
.bottom-nav ul li:hover {
    bottom: 90%;
    background-color: black;
    border-radius: 50%;
    border: 5px solid #D52600;
}

.profile-action img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
}

.pic {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.no-user .display-picture {
    border-radius: 50%;
    border: 1px solid white;
    width: 18px;
    height: 18px;
}

.bottom-nav .list-image {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

@media only screen and (max-width: 768px) {
    .top-nav ul {
        display: none;
    }
    
    .no-user,
    .bottom-nav {
        display: block;
    }
}