.profile-menu {
    position: fixed;
    top: 15px;
    right: 18px;
}

.profile-menu .profile-action {
    display: block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}


.profile-menu .profile-profile-menu {
    width: 200px;
    padding: 10px;
    background-color: #0083A0;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 0px;
    transition: all 0.3s;
}


.profile-menu .profile-profile-menu .profile-prof {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-menu .profile-profile-menu .profile-prof img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* user-select: none; */
}

.profile-menu .profile-profile-menu .info {
    margin-left: 5px;
}

.profile-menu .profile-profile-menu .info h2 {
    color: #dadada;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.profile-menu .profile-profile-menu .profile-btn {
    width: 135px;
    height: 30px;
    color: #e5e5e5;
    background-color: #00596d;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    transition: all 0.3s;
}

.profile-menu .profile-profile-menu .profile-btn .profile-icon {
    width: 20px;
    margin-right: 5px;
    user-select: none;
}

.profile-menu .profile-profile-menu .profile-btn:hover {
    background-color: #292c3d;
}