.dropdown {
    .dropdown-wrapper {
        width: 150px;
        height: 40px;

        .dropdown-container {
            width: 100%;
            height: 100%;

            .dropdown-header {
                display: flex;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                cursor: pointer;
                position: relative;
                z-index: 99;
                // background: red;
            }
        }

        .list {
            width: 100%;
            position: relative;
            border-radius: 10px;
            box-shadow: 2px 2px 2px 1px var(--color-464646);
            padding: 10px;
            background-color: var(--color-white);

            a {
                text-decoration: none;
                list-style: none;
                width: 100%;

                li {
                    padding: 10px;
                    height: 40px;
                    color: var(--color-464646);
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 20px;
                    

                    &:hover {
                        
                        border-bottom: 1px solid var(--color-464646);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
}