.mobile-search-container {
 display: none;
}

@media screen and (max-width: 768px) {
  .mobile-search-container {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -120px 0px 0px 0px;
    padding: 0%;
    display: block;
    z-index: 100;

    .wrapper {
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .search {
            float: left;
            width: 80%;
        }

        .close {
            float: right;
            cursor: pointer;
            width: 10%;
            
            span {
                font-size: 20px;
            }
        }
    }
  }   
}