.wrapper {
    display: flex;
    .nav-container {
        color: #fff;
        padding: 8px;
        display: flex;
        ul {
            display: flex;
            li {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                .item-wrapper {
                    display: flex;
                    span {
                        margin-left: 5px;
                        text-transform: uppercase;
                    }
                }
            
            }
        
        }

    }

    .bars {
        display: none;
        padding: 10px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        .nav-container {
            display: none;
        }

        .bars {
            display: block;
            color: #fff;
        }
    }
}