p {
    margin-top: 30px;
    text-align: center;
}

.activation_container {
    margin-top: 20%;
    margin-left: 45%;
    width: 150px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    color: white;
}

.activation_container p {
    color: white;
    padding-top: 15px;
    text-align: center;
}

@media screen and (max-width: 570px) {
    .activation_container {
        margin-left: 30%;
    }
}