.student-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form-box .form-group {
    margin-bottom: 20px;
}

.form-box .form-group span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

.form-box .form-group input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #0083A0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 3px;
}

.form-box .btn-group {
    display: flex;
    gap: 10px;
}

.form-box .update {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 16px;
    color: #fff;
    background: #0083A0;
    border-radius: 3px;
    cursor: pointer;
}

.form-box .delete {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 16px;
    color: #fff;
    background: red;
    border-radius: 3px;
    cursor: pointer;
}