footer {
    width: 100%;
    padding: 10px;
    background-color: var(--color-0019AB8);

    .arrow {
        margin-top: 10px;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: var(--color-0019AB8);
        padding: 1px 2px 5px 7px;
        margin-right: 20px;
        box-shadow: var(--color-1A1A1A) 0px 5px 15px;
        cursor: pointer;
        margin-bottom: 10;
        font-size: 25px;
        color: var(--color-white);
    }

    .none {
        display: none;
    }

    .letter {
        display: flex;
        justify-content: space-around;
        padding: 10px;

        h3 {
            font-size: 30px;
            color: var(--color-white);
        }

        .input-group {
            width: 30%;
            height: 40px;
            z-index: 99;
        }
    }

    .footer-section {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        color: var(--color-white);

        .section {
            h5, p {
                text-align: center;
            }

            ul {
                a {
                    text-decoration: none;
                    display: flex;
                            flex-direction: row;

                    .link {
                        margin: 5px;
                        padding: 4px;
                        width: 30px;
                        height: 30px;
                        background-color: var(--color-A8C3DE);
                        border-radius: 5px;

                        li {
                            list-style: none;

                            .icon {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            .information,
            .account,
            .links {
                 a {
                    text-decoration: none;

                    li {
                        list-style: none;
                        color: var(--color-white);
                        margin-bottom: 10px;
                    }
                 }
            }

            .app {
                display: flex;
                gap: 10px;
                
                .play-store,
                .i-store {
                    background-color: var(--color-white);
                    width: 150px;
                    height: 60px;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;

                    .icon {
                        margin-left: 2px;
                        font-size: 30px;
                        float: left;
                        width: 20%;
                        color: var(--color-1A1A1A);
                        padding: -100px;
                    }

                    .text {
                        width: 80%;
                        float: right;
                        color: var(--color-1A1A1A);
                        text-align: center;
                        padding: 5px;

                        p {
                            font-size: 12px;
                            text-align: center;
                        }

                        h6 {
                            margin-top: -5px;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                } 
            }
        }
    }
}

.copyright {
    width: 100%;
    background-color: var(--color-464646);
    padding: 10px;

    p {
        font-size: 14px;
        color: var(--color-white);
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    footer {
        .arrow {
            margin: 0 auto;
        }

        .letter {
            flex-direction: column;

            h3 {
                text-align: center;
            }

            .input-group {
                width: 100%;
            }
        }

        .footer-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}