.nav {
    background-color: var(--color-white);
    padding: 5px;

    .container {
        width: 100%;

        .item-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .bars {
                display: none;
            }

            .col-1 {
                float: left;
                width: 20%;
                display: block;
                a {
                    img {
                        width: 50px;
                    }
                }
            }

            .cart-group {
                display: none;
            }

            .co1-2 {
                float: right;
                width: 80%;
                display: block;

                .upper-links {
                    float: right;
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    
                    .dropdown {
                        padding-top: 5px;
                    }
 
                    .favourite {
                        background-color: var(--color-FF3E3E);
                        padding: 8px;
                        border-radius: 30px;

                        a {
                            .icons {
                                color: var(--color-white);
                            }
                        }
                    }

                    .cart {
                        background-color: var(--color-0019AB8);
                        padding: 5px;
                        border-radius: 30px;

                        a {
                            .icons,
                            span {
                                color: var(--color-white);
                            }
                            
                            span {
                                font-weight: 600;
                            }
                        }
                    }


                    a,
                    .favourite a,
                    .cart a {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                    }
                }
            }
        }
    }
}

.second-nav {
    width: 100%;
    padding: 10px;
    background-color: var(--color-0019AB8);
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        box-shadow: var(--color-transparent) 0px 3px 8px;

        .container {
            .item-container {

                .col-1 {

                    a {
                        text-align: center;
                        img {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                .bars {
                    display: block;
                    padding-top: 10px;
                }

                .cart-group {
                    display: flex;
                    gap: 10px;
                    padding-top: 10px;

                    .search,
                    .cart {
                        color: var(--color-1A1A1A);
                    }
                }

                .seach-container {
                    display: none;
                }
                
                .co1-2 {
                    display: none;
                }
            }
        }
    }

    .second-nav {
        display: none;
    }
}