.header-container {
    display: flex;

    .wrapper {
        float: right;
        width: 40%;

        .dropdown {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 2px;

            .dropdown-wrapper {
                width: 300px;
                height: 60px;
                background-color: inherit;
                border-radius: 5px;

                .dropdown-container {
                    width: 100%;
                    height: 100%;


                    .dropdown-header {
                        display: flex;
                        justify-content:  space-between;
                        align-items: center;
                        width: 80%;
                        height: 100%;
                        position: relative;
                        z-index: 99;
                        color: var(--color-1A1A1A);

                        .dropdown-title {
                            display: flex;
                            gap: 10px;
                        }
                    }
                }

                .list {
                    width: 80%;
                    background-color: var(--color-white);
                    position: relative;
                    z-index: 100;

                    li {
                        padding: 10px;
                        background-color: var(--color-white);
                        height: 40px;
                        color: var(--color-1A1A1A);
                        display: flex;
                        align-items: center;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .page {
        float: left;
        width: 60%;
        margin-top: 20px;;

        ul {
            display: flex;
            justify-content: space-around;

            a {
                cursor: pointer;
                text-decoration: none;

                li {
                    list-style: none;
                    color: var(--color-1A1A1A);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        .wrapper {
            margin: 0 auto;
        }

        .page {
            display: none;
        }
    }
}