.profile-container {
    width: 100%;
    margin-bottom: 10px;
}

.profile-container .profile-cover-image {
    width: 100%;
    height: 40vh;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.profile-container .profile-image {
    margin-top: -90px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border: 2px red solid;
}

.profile-container h1 {
    margin-top: 10px;
    text-align: center;
}

.profile-container button {
    float: right;
    margin-top: -40px;
    margin-right: 40px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.toggle-wrapper {
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    z-index: -1;
}

.toggle-text {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    z-index: -1;
}

.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    display: inline;
}

.tab-active {
    color: black;
    display: inline;
    background: white;
    border-bottom: 1px solid transparent;
    border-bottom: 2px solid red;
}

.content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 20px;
    width: 85%;
    height: 100%;
    display: none;
}

.content h2 {
    font-size: 20px;
    font-weight: 20px;


    color: #3c4358;
}

.content hr {
    width: 100%;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p i {
    width: 100%;
    height: 100%;
    font-size: 20px;
    justify-self: start;
}

.active-content {
    display: block;
}

.line {
    width: 85%;
    margin-left: 200px;
    margin-right: auto;
}