.container {
     max-width: 2184px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;

    section {
        .item1 { grid-area: advert-1; }
        .item2 { grid-area: advert-2; }
        .item3 { grid-area: advert-3; }
        .item4 { grid-area: advert-4; }
        .item5 { grid-area: advert-5; }
        
        // Promotions
        .grid-container {
            gap: 10px;
            padding: 20px;
            display: grid;
            grid-template-areas:
                'advert-1 advert-1 advert-2 advert-2 advert-3 advert-3'
                'advert-1 advert-1 advert-2 advert-2 advert-3 advert-3'
                'advert-1 advert-1 advert-4 advert-4 advert-5 advert-5'
                'advert-1 advert-1 advert-4 advert-4 advert-5 advert-5';

            .item1 {
                width: 100%;
                height: 34vh;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.2);
                display: flex;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

                .left {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 60px 20px 20px 20px;

                    .supercharged {
                        color: orangered;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    h4 {
                        margin-top: 10px;
                        font-size: 30px;
                        font-weight: bold;
                    }

                    .price-range {
                        margin-top: 10px;
                        font-size: 12px;
                        font-weight: 200;
                    }

                    button {
                        margin-top: 10px;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        background: black;
                        color: white;
                        text-transform: uppercase;
                        font-size: 16px;
                        width: 100px;
                        cursor: pointer;
                    }
                }
                
                .right {
                    float: right;
                    width: 50%;
                    height: 100%;

                    img {
                        padding: 25px 10px 30px 10px;
                        width: 250px;
                    }
                }
            }

            .item2 {
                border-radius: 5px;
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                height: 16vh;

                .left {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 20px 0px 0px 10px;

                    .best-sale {
                        color: orangered;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    h4 {
                        margin-top: 5px;
                        font-size: 20px;
                        font-weight: bold;   
                    }

                    .price-range {
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 200;
                    }
                }
                
                .right {
                    float: right;
                    width: 50%;
                    height: 100%;

                    img {
                        padding: 20px 0px 0px 40px;
                        width: 150px;
                    }
                }
            }

            .item3 {
                border-radius: 5px;
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                height: 16vh;

                .left {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 20px 0px 0px 10px;

                    .best-sale {
                        color: orangered;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    h4 {
                        margin-top: 5px;
                        font-size: 20px;
                        font-weight: bold;   
                    }

                    .price-range {
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 200;
                    }
                }
                
                .right {
                    float: right;
                    width: 50%;
                    height: 100%;

                    img {
                        padding: 20px 0px 0px 40px;
                        width: 150px;
                    }
                }
            }

            .item4 {
                border-radius: 5px;
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                height: 16vh;

                .left {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 20px 0px 0px 10px;

                    .best-sale {
                        color: orangered;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    h4 {
                        margin-top: 5px;
                        font-size: 20px;
                        font-weight: bold;   
                    }

                    .price-range {
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 200;
                    }
                }
                
                .right {
                    float: right;
                    width: 50%;
                    height: 100%;

                    img {
                        padding: 20px 0px 0px 40px;
                        width: 150px;
                    }
                }
            }
            
            .item5 {
                border-radius: 5px;
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                height: 16vh;

                .left {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 20px 0px 0px 10px;

                    .best-sale {
                        color: orangered;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    h4 {
                        margin-top: 5px;
                        font-size: 20px;
                        font-weight: bold;   
                    }

                    .price-range {
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 200;
                    }
                }
                
                .right {
                    float: right;
                    width: 50%;
                    height: 100%;

                    img {
                        padding: 20px 0px 0px 40px;
                        width: 150px;
                    }
                }
            }
        }

        .products {
            padding: 20px;
            background: #EEEEEE;
            width: 100%;

            .options {
                display: flex;

                .option {
                    display: flex;
                    gap: 50px;

                    .icon {
                        color: rgb(101, 101, 255);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        section {
            // Promotions
            .grid-container {
                display: flex;
                flex-direction: column;

                .item1 {
                    width: 100%;
                    height: 20vh;

                    .left {
                        padding: 10px 20px 20px 20px;

                        .supercharged {
                            font-size: 10px;
                            margin-top: 5px
                        }

                        h4 {
                            font-size: 16px; 
                            margin-top: 5px
                        }

                        .price-range {
                            margin-top: 5px;
                            font-size: 8px;
                        } 

                        button {
                            font-size: 12px;
                        }
                    }

                    .right {
                        img {
                            padding: 10px 10px 30px 10px;
                            width: 150px;
                        }
                    }
                }

                .item2,
                .item3,
                .item4,
                .item5 {
                    width: 100%;
                    height: 20vh;
                }

            }
        }
    }
}