.home {
    // Banner section
    .banner {
        padding: 5px;

        .image-container {
            display: flex;

            .main-image {
                margin: 2px;
                position: relative;
                img {
                    width: 100%;
                    height: 340px;
                    border-radius: 5px;
                }

                .container {
                    position: absolute;
                    top: 2%;
                    h4 {
                        font-size: 26px;
                        font-weight: 700;
                        color: var(--color-FF6800);
                    }

                    h5 {
                        font-size: 35px;
                        font-weight: 500;
                        color: var(--color-white);
                    }

                    p {
                        font-size: 14px;
                    }

                    a {
                        background-color: var(--color-transparent);
                        color: var(--color-white);
                        font-size: 14px;
                        padding: 13px 23px;
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }

            .image {
                .image-row {
                    display: flex;
                    .image-wrapper {
                        position: relative;
                        margin: 3px;
                        img {
                            width: 100%;
                            height: 165px;
                            border-radius: 5px;
                        }

                        .container {
                            position: absolute;
                            top: 5%;
                            
                            h4 {
                                font-size: 20px;
                                font-weight: 500;
                                color: var(--color-FF6800);
                            }
        
                            h5 {
                                font-size: 25px;
                                font-weight: 300;
                                color: var(--color-white);
                            }
        
                            p {
                                font-size: 12px;
                            }
        
                        }
                    }
                }
            }
        }
    }

    // Offer section
    .offers {
        padding: 10px;
   
        .services {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .services-offer {
                display: flex;

                .icon {
                    font-size: 25px;
                    margin-top: 10px;
                }

                .content {
                    margin-left: 15px;

                    h5 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 10px;
                    }
                
                }
            }
        }

        .items {
            padding: 10px;
            box-shadow: var(--color-transparent) 0px 3px 8px;
            border-radius: 5px;
            width: 100%;
            justify-content: center;
            align-items: center;

            .products {
                display: flex;
                padding: 0px;
                
                
                .product {
                    display: flex;

                    .content {
                        h5 {
                            font-size: 14px;
                        }
                        
                        p {
                            font-size: 10px;
                        }
                    }

                    .image {
                        img {
                            width: 150px;
                        }
                    }
                }
            }

            .products::-webkit-scrollbar {
                display: none;
            }
        }

    }

    // Marque section
    .marque {
        padding: 10px;

        .card-wrapper {
            box-shadow: var(--color-transparent) 0px 3px 8px;
            border-radius: 5px;
            padding: 20px;
            width: 100%;

            .marque-container {
                .brand {
                    img {
                        width: 200px; 
                        height: 100px;
                    }
                }
            }
        } 
    }

    // Blog section
    .blog-wrapper {
        padding: 10px;

        .column {
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            width: 100%;
        }

        .blog-card {
            background-color: var(--color-DEDEDE);
            padding: 0px;
            border-radius: 10px;
            box-shadow: var(--color-transparent) 0px 3px 8px;

            .card-image {
                .img-fluid {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .block-content {
                    padding: 15px;

                    .date {
                        font-size: 12px;
                        color: var(--color-464646);
                    }

                    .title {
                        font-weight: bold;
                        font-style: italic;
                        font-size: 16px;
                    }

                    .description {
                        font-size: 12px;
                        font-weight: 300;
                    }

                    a {
                        background-color: var(--color-transparent);
                        color: var(--color-white);
                        font-size: 14px;
                        padding: 13px 23px;
                        border-radius: 10px;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }

    // Product card 079 020 7753
    .product-wrapper {
        padding: 10px;

        .column {
            display: flex;
            justify-content: space-between;     
            margin-right: 10px;
            width: 100%;
        }

        .product-card {
            background-color: var(--color-DEDEDE);
            padding: 0px;
            border-radius: 10px;
            box-shadow: var(--color-transparent) 0px 3px 8px;

            .product-image {
                img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            
                .product-details {
                    padding: 5px;

                    .brand {
                        color: var(--color-FF3E3E);
                        font-size: 13px;
                    }

                    .product-title {
                        font-size: 15px;
                        color: var(--color-464646);
                    }

                    .price {
                        font-size: 10px;
                        margin-top: 5px;
                    }
                }

                .action-bar {
                    background-color: var(--color-rgb-0001);
                    width: 10%;
                    padding: 5px;
                    border-top-right-radius: 10px;
                    top: 0;
                    right: 0;
                    transition: 0.3s;
                    margin-bottom: 5px;

                    a {
                        text-decoration: none;
                        color: var(--color-1A1A1A);

                        :hover {
                            color: var(--color-0019AB8);
                        }
                    }
                }  
            }
        }
    }

    // Special products
    .spacial {
        padding: 10px;

        .special-product-card {
            background-color: var(--color-DEDEDE);
            padding: 10px;
            border-radius: 10px;
            box-shadow: var(--color-transparent) 0px 3px 8px;

            .spacial-wrapper {
                display: flex;
                justify-content: space-between;

                img {
                    width: 90%;
                }

                .special-product-content {
                    .brand {
                        font-size: 14px;
                    }

                    .title {
                        font-size: 12px;
                    }

                    .price {
                        font-size: 10px;
                    }

                    .discount-till {
                        display: flex;
                        gap: 5px;

                        p {
                            font-size: 11px;
                        }

                        .badge-container {
                            display: flex;
                            gap: 10px;

                            span {
                                padding: 2px;
                                font-size: 10px;
                            }
                        }
                        
                    }

                    .product-count {
                        margin-bottom: 10px;
                        p {
                            font-size: 12px;
                        }
                    }

                    a {
                        background-color: var(--color-transparent);
                        color: var(--color-white);
                        font-size: 8px;
                        padding: 5px 12px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        .banner {
            .image-container {
                display: flex;
                flex-direction: column;
    
                .main-image {
                    img {
                        width: 100%;
                        height: 260px;
                    }
    
                    .container {
                        h4 {
                            font-size: 22px;
                        }
    
                        h5 {
                            font-size: 30px;
                        }
    
                        p { 
                            font-size: 12px;
                        }
    
                        a {
                            padding: 5px 10px;
                        }
                    }
                }
    
                .image {
                    .image-row {
                        .image-wrapper {    
                            .container {
                                h4 {
                                    font-size: 18px;
                                }
            
                                h5 {
                                    font-size: 22px;
                                }
            
                                p {
                                    font-size: 10px;
                                }
                            }
                                
                        }
                    }
                }
            }
        }

        .offers {
            .services {
                .services-offer {
                    .icon {
                        font-size: 20px;
                    }
    
                    .content {
                        margin-left: 13px;
    
                        h5 {
                            font-size: 11px;
                        }
    
                        p {
                            font-size: 8px;
                        }
                    
                    }
                }
            }

            .items {
                .products {
                    display: flex;
                    padding: 0px;
                    overflow: auto;
                    white-space: nowrap;
                    
                    .product {
                        display: flex;
    
                        .content {
                            h5 {
                                font-size: 12px;
                            }
                            
                            p {
                                font-size: 8px;
                            }
                        }
    
                        .image {
                            img {
                                width: 100px;
                            }
                        }
                    }
                }
    
                .products::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .marque {
            .card-wrapper {
                .marque-container {
                    .brand {
                        .img {
                            width: 100px;
                            height: 50px;
                        }
                    }
                }
            } 
        }

        .blog-wrapper{
            h3 {
                font-size: 16px;
            }
        
            .blog-card {
                .card-image {
                    .block-content {
                        padding: 3px;
    
                        .date {
                            font-size: 8px;
                        }
        
                        .title {
                            font-size: 11px;
                        }
        
                        .description {
                            font-size: 10px;
                        }
        
                        a {
                            padding: 10px 20px;
                            font-size: 8px;
                        }
                    }
                }
            }
        }

        .product-wrapper {
            h3 {
                font-size: 16px;
            }
        
            .product-card {        
                .product-image {
                    .product-details {
                        .brand {
                            font-size: 10px;
                        }
        
                        .product-title {
                            font-size: 13px;
                        }
        
                        .price {
                            font-size: 7px;
                        }
                    }
        
                    .action-bar {
                        background-color: var(--color-rgb-0001);
                        width: 20%;
                        padding: 2px;
                        border-top-right-radius: 10px;
                        top: 0%;
                        right: 0px;
                        transition: 0.3s;
                        margin-bottom: 2px;
        
                        a {
                            text-decoration: none;
                            color: var(--color-white);
                            font-size: 12px;
        
                            :hover {
                                color: var(--color-0019AB8);
                            }
                        }
                    }
                }
            }
        }

        .spacial {
            h3 {
                font-size: 16px;
            }
        
            .special-product-card {
                .spacial-wrapper {}
            }
        }
    }
}

@media screen and (max-width: 1096px) {
    .home {
        .offers {
            .services {
                .services-offer {
                    .icon {
                        font-size: 20px;
                    }
    
                    .content {
                        margin-left: 13px;
    
                        h5 {
                            font-size: 11px;
                        }
    
                        p {
                            font-size: 8px;
                        }
                    
                    }
                }
            }

            .items {
                .products {
                    display: flex;
                    padding: 0px;
                    overflow: auto;
                    white-space: nowrap;
                    
                    .product {
                        display: flex;
    
                        .content {
                            h5 {
                                font-size: 12px;
                            }
                            
                            p {
                                font-size: 8px;
                            }
                        }
    
                        .image {
                            img {
                                width: 100px;
                            }
                        }
                    }
                }
    
                .products::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}